@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">);


body{
    font-family: "Open sans", sans-serif;
    }
.navbox{
    display: flex;
    margin: 20px;
    border-radius:50px;
    align-items: center;
    background-color: aqua;
    justify-content: space-evenly;
}

.logo{
 align-items: center;
 cursor: pointer;
 display: flex;
}

.navoptions{
    display: flex;
    gap: 30px;                                                                                    }

.navoptions h3{
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.navoptions h3:hover{
    font-weight: 700;
}

.sidenav{

}
